<div class="user-details">

    <mat-list role="list">
        <mat-list-item class="u-text-align-center">
            <span class="mat-2">Detalhes do usuário</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Nome: </span>
            <span class="mat-h3">Lucas</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Email: </span>
            <span>
                Email: lucas&#64;gmail.com
            </span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Tefefone: </span>
            <span class="mat-h3">67996891456</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Endereço: </span>
            <span class="mat-h3">Rua Teste, 69, Campo Grande - MS</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Ativo: </span>
            <span class="mat-h3">Sim</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Data de Cadastro: </span>
            <span class="mat-h3">11/06/2026</span>
        </mat-list-item>
        <mat-divider></mat-divider>

    </mat-list>
</div>